@font-face {
    font-family: "POP设计字体";
    src: url("POP设计字体.eot"); /* IE9 */
    src: url("POP设计字体.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("POP设计字体.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("POP设计字体.woff") format("woff"), /* chrome, firefox */
    url("POP设计字体.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("POP设计字体.svg#POP设计字体") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


